@use "variables" as v;

@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin xl-desktop {
  @media (min-width: v.$xl-desktop) {
    @content;
  }
}
@mixin grid($cols, $separacion) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  gap: $separacion;
}

// ✅ Correcto
@mixin header-bg($imagen) {
  background-image: url("img/#{$imagen}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
